torch==2.6.0
torchvision==0.21.0
numpy==1.26.1
Pillow==10.3.0
diffusers==0.36.0
huggingface_hub>=0.34.2,<1.0
safetensors
roma
gradio
matplotlib
tqdm
opencv-python
scipy==1.11.4
einops
trimesh
tensorboard
pyglet<2
viser
gradio
lpips
hydra-core
h5py
accelerate>=1.7.0
transformers>=4.50.3,<4.52.0
scikit-learn
gsplat
evo
open3d
wandb
msgpack
lerobot==0.3.3
timm==1.0.15
easydict
sentence-transformers
